
        body {
            font-family: Arial, sans-serif;
            max-width: 50em;
            margin: 0 auto;
            padding: 10px;
            background-color: #E7E0DE
        }
        input {
            margin-bottom: 5px;
            min-width: 150px;
        }
        #resultat {
            min-height: 30em;
            font-family: monospace;
            font-size: 14px;
            background-color: #FFFFFF;
            padding: 5px;
        }
 